<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
      <title>OIDC Login</title>
    {% endblock %}
</head>
<body>
    <div id="content">
      {% block content %} {% endblock %}
    </div>
</body>
</html>
