{% extends "base.html" %}
{% block content %}
    <h1>Please login</h1>
    <form action="{{ endpoint }}" method=post>
      <dl>

        <dt>Username:
        <dd><input type=text name=username>

        <dt>Password:
        <dd><input type=password name=password>

        <dd><input type=hidden name=query value="{{ query }}">

        <dd><input type=submit value=Login>
      </dl>
    </form>
{% endblock %}
